# If you want to specify some local properties that will be used by
# Ant tasks, copy this file into 'build.properties' and edit it as you
# need.
#
# $Id: build.properties.template,v 1.16 2009/06/26 09:56:00 mahmutuludag Exp $
# --------------------------------------------------------------------

# --------------------------------------------------------------------
# Pointer to your own templates of Soaplab configuration files
# --------------------------------------------------------------------
#my.soaplab.properties = testing.soaplab.properties
#my.soaplab.client.properties = testing.soaplab.client.properties
#my.log4j.properties = testing.log4j.properties

# --------------------------------------------------------------------
# Full path to your Tomcat installation.
# --------------------------------------------------------------------

#tomcat.home = /usr/local/jakarta-catalina

# --- Where is your Tomcat listening

#tomcat.port = 8080
#tomcat.host = localhost

# --- For using Tomcat manager to deploy 

#tomcat.manager.username = tomcat
#tomcat.manager.password = tomcat
#tomcat.manager.url= http://my.tomcathost:9800/manager

# --------------------------------------------------------------------
# For deploying services to Tomcat
# --------------------------------------------------------------------
# To use metadata (etc.) from other directories than the ones "embedded"
# in the Tomcat webapps structure:

#server.metadata.dir = /home/senger/soaplab2/metadata/generated
#server.runtime.dir  = /home/senger/soaplab2/_R_
#server.scripts.dir  = /home/senger/soaplab2/run

# --------------------------------------------------------------------
# These properties are for those who wish to use their own, additional
# classes, for the Soaplab2 services. If you write a Soaplab2 plugin,
# these properties are for you.
#
# The classes you wish to add must be packed, usually as jars. The
# directory with the jar files is given by the property
# user.lib.dir. Additionally, a pattern which jars to use can be
# specified by the property user.lib.include.
# --------------------------------------------------------------------
#user.lib.dir =
#user.lib.include = *.jar

# --------------------------------------------------------------------
# Configuring Spinet web client
# --------------------------------------------------------------------
#soaplab.docs.url = http://localhost/~senger/soaplab2/
#local.contact = &lt;a href=&quot;mailto:martin.senger&#64;gmail.com&quot;&gt;Martin Senger&lt;/a&gt;
#spinet.welcome.msg = Soaplab Web Services

# --------------------------------------------------------------------
# Specifically for those who are using EMBOSS
# --------------------------------------------------------------------
#emboss.home = /where/is/your/EMBOSS/installed
#emboss.supplier = My local laptop
#emboss.version = 5.0.0

# --------------------------------------------------------------------
# Set how to compile Java source to Java classes
# --------------------------------------------------------------------

#compile.debug = true
#compile.verbose = false
#compile.deprecation = false
#compile.optimize = false
#compile.warnings = true

# -----------------------------------------------------------------------------------------
# For those who prefers additional WSDL files with strongly typed input/output descriptions
# -----------------------------------------------------------------------------------------

#typedinterface.enable = true
